.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  background-color:rgb(75, 15, 15);
    color: rgb(255, 255, 255);

}
h1 {
  color: white;
  text-shadow: 1px 2px px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 20px;

}
header{
      color: rgb(255, 255, 255);

  font-size: 46px;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(0, 0, 0);

}

button,
input{
    font-size: 20px;
  transition-duration: 0.4s;
}

button:hover {
  background-color:darkblue; 
  color: white;
}